body {
  background-color: #000;
}
body::-webkit-scrollbar {
  width: 0px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #fff;
}
.main {
  position: absolute;
  width: 100%;
  color: transparent;
}