@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300&display=swap');

body {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 0px;
}

@font-face {
  font-family: "Logo";
  src: url("./TheHistoriaDemo.otf");
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;

}
.logOut {
  margin: 0 auto;
  margin-top: 0px;
  width: 240px;
  height: 45px;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px rgba(27, 23, 23, 0.452);
}
a {
  text-decoration: none;
  color: #221c53;
}
h2 {
  font-family: 'Logo';
  margin: 0;
  margin-top: -7px;
  font-weight: 300;
  margin-left: 30px;
  cursor: pointer;
  color: #221c53;
  font-size: 20px;
  line-height: 35px;
  padding: 0;
}
.secondText {
  font-family: 'Roboto Serif', serif;
  font-weight: 100;
  font-size: 13px;
}
.logoBtn {
  float: right;
  font-size: 20px;
  margin-top: -32px;
  margin-right: 35px;
}
.logoBtn:hover {
  color: #221c5359;
}

.main {
  width: 98%;
  height: 3000vh;
  z-index: 0;
  margin: 0 auto;
  margin-top: -20px;
  position: absolute;
}
h1 {
  font-family: 'Logo';
  cursor: pointer;
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  width: 40%;
  margin: 0 auto;
  padding: 0;
  color: #291a97;
  margin-top: 40vh;
  text-align: center;
}
.scroll {
  width: 30%;
  font-family: 'Logo';
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  background-color: #0f00813b;
  color: rgb(0, 0, 0);
  margin-top: -32px;
  -ms-transform: rotate(10deg); /* IE 4.5 */
  transform: rotate(5deg);

  box-shadow: 0px 10px 5px -10px rgba(27, 23, 23, 0.452);
}
.info {
  background-color: rgba(255, 255, 255, 0.555);
  padding: 15px;
  font-size: 25px;
  color: #15058f;
  font-family: 'Roboto Mono', monospace;
  line-height: 30px;
  width: 50%;
  text-align: justify;
  margin: 0 auto;
  margin-top: 1090vh;
  border-radius: 10px ;
}

@media screen and (max-width: 400px){
  h1 {
    font-size: 35px;
    margin-left: 24%;

  }
  .scroll {
    font-size: 15px;
    font-weight: 100;
  }
  .info {
    margin-top: 720vh;
    font-size: 20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.555);
  }
}