@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300&display=swap');

body {
  background-color: #000;
}
body::-webkit-scrollbar {
  width: 0px;
}

@font-face {
  font-family: "Logo";
  src: url("./TheHistoriaDemo.otf");
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 9vh;

}
.logOut {
  margin: 0 auto;
  margin-top: 0px;
  width: 90%;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px rgb(255, 255, 255);
}
h2 {
  font-family: 'Logo';
  margin: 0;
  font-weight: 300;
  color: #221c53;
  font-size: 40px;
  line-height: 35px;
  padding: 0;
  padding-top: 20px;
}
.secondText {
  font-family: 'Roboto Serif', serif;
  font-weight: 100;
  font-size: 20px;
}
.logoTwo {
  font-weight: 100;
  font-size: 33px;
}
.main {
  position: absolute;
  width: 100%;
  color: transparent;
}